#card{
	width:350px;
	height:500px;
	background-color:antiquewhite;
	padding-top: 20px;
	text-align:center;
}
#img{
	 display: block;
    margin: 0 auto;
	
}
#text{
	text-align:center;
}
p{
	
	padding-left:30px;
	padding-right:30px;
}
#button{
	padding:20px;
	background-color:red;
	color:white;
	border-radius:10px;
}